{% extends 'index.html' %}

{% block title %}
<title>Add Songs</title>
{% endblock %}

{% block header %}
<h1>Add Songs</h1>
<h4>Add songs to shared music playlists.</h4>
{% endblock %}

{% block body %}

<div id="main-body">
    <h2>{{ playlist_name }}</h2>
    <form id="search-songs-form" method="GET" autocomplete="off">
        <h4>Add Songs:</h4>
        <input class="form-box" type="text" name="song_search" placeholder="Search...">
        <input class="text-box-submit" type="image" href="{{ url_for('search_songs', playlist_name='Joey\'s Shared Playlist') }}" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/768px-Search_Icon.svg.png" alt="Search Song">
    </form>
    <br><br>
    <h5 id="search-text">Searched: <i>{{ search_text }}</i></h1>
    <hr>
    <form id="add-songs-form" method="POST">
        {% for song in search_results["tracks"]["items"] %}
            <div class="song-item">
                <a class="album-art" href="{{song['uri']}}">
                    <img src="{{ song['album']['images'][1]['url'] }}" alt="{{ song['album']['name'] }} album cover">
                </a>
                <p class="song-desc">
                    <b>Song: </b>{{ song['name'] }}<br>
                    <b>Artist(s): </b>
                    {% for artist in song['artists'] %}
                        {% if loop.index == song['artists']|length %}
                            {{ song['artists'][loop.index0]['name'] }}<br>
                        {% else %}
                            {{ song['artists'][loop.index0]['name'] }}, 
                        {% endif %}
                    {% endfor %}
                    <b>Album: </b>{{ song['album']['name'] }}
                </p>
                <input class="add-button" type="submit" value="Add">
            </div>
            <hr>
        {% endfor %}
    </form>

</div>

{% endblock %}