{% extends 'index.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block header %}
<h1>Profile</h1>
<h4>Create or edit shared playlists.</h4>
{% endblock %}

{% block navbar %}
<a class="right-navbar" href="{{ url_for('profile') }}">SETTINGS</a>
{% endblock %}

{% block body %}

<div id="main-body">
    <a id="add-playlist-button" href="{{ url_for('create_playlists') }}">
        Create New Playlist <img src="https://cdn.icon-icons.com/icons2/1875/PNG/512/plussquare_120280.png" alt="Add Playlist">
    </a>
</div>

{% endblock %}