{% extends 'index.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block header %}
<h1>Profile</h1>
<h4>Create or edit shared playlists.</h4>
{% endblock %}

{% block navbar %}
<a class="right-navbar" href="{{ url_for('search_songs', playlist_name='Joey\'s Shared Playlist') }}">SETTINGS</a>
{% endblock %}

{% block body %}

<div id="main-body">
    <form id="create-playlist-form" method="POST" autocomplete="off">
        <h4>Create New Playlist:</h4>
        <input class="form-box" type="text" name="playlist_name" placeholder="Name...">
        <input class="text-box-submit" type="image" src="https://cdn.icon-icons.com/icons2/1875/PNG/512/plussquare_120280.png" alt="Create Playlist">
    </form>
    <br><br><br><hr>

    <form id="view-playlists-form" method="GET">

    </form>

    
</div>

{% endblock %}