{% extends 'index.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block header %}
<h1>Profile</h1>
<h4>Create or edit shared playlists.</h4>
{% endblock %}

{% block navbar %}
<a class="right-navbar" href="{{ url_for('search_songs', playlist_name='Joey\'s Shared Playlist') }}">SETTINGS</a>
{% endblock %}

{% block body %}

<div id="main-body">
    <h2>Hello, {{ current_user.first_name }}.</h2>
    <h4>Create New Playlist:</h4>
    <form method="POST" autocomplete="off" nonvalidate>
        {{ create_playlist_form.hidden_tag() }}
        <p> {{ create_playlist_form.playlist_name.label }} {{ create_playlist_form.playlist_name(size=50) }} </p>
        <p> {{ create_playlist_form.submit() }} </p>
    </form>
    <div id="view-playlists-form">
        {% for i in range(playlists['total']) %}
            {% if playlists['items'][i]['owner']['display_name'] == username %}
                <div class="playlist-item">
                    <a class="album-art" href="{{ playlists['items'][i]['external_urls']['spotify'] }}">
                        {% if playlists['items'][i]['images'] is not none %}
                            <img src="{{ playlists['items'][i]['images'][0]['url'] }}" alt="{{ playlists['items'][i]['name'] }} playlist image">
                        {% else %}
                            <img src="https://www.afrocharts.com/images/song_cover.png" alt="{{ playlists['items'][i]['name'] }} playlist image">
                        {% endif %}
                    </a>
                    <p class="playlist-desc">
                        <b>{{ playlists['items'][i]['name'] }}</b><br>
                        {% if playlists['items'][i]['public'] %}
                        Public
                        {% else %}
                        Private
                        {% endif %}<br>
                        Track Total: {{ playlists['items'][i]['tracks']['total'] }}<br><br>
                    </p>
                    <input class="view-button" type="button" value="View"><br><br>
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    </div>

    
</div>

{% endblock %}