{% extends 'index.html' %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block header %}
<h1>Profile</h1>
<h4>Create or edit shared playlists.</h4>
{% endblock %}

{% block navbar %}
<a class="right-navbar" href="{{ url_for('search_songs', playlist_name='Joey\'s Shared Playlist') }}">SETTINGS</a>
{% endblock %}

{% block body %}

<div id="main-body">
    <h2>Hello, {{ current_user.first_name }}.</h2>
    <h4>Create New Playlist:</h4>
    <form method="POST" autocomplete="off" nonvalidate>
        {{ create_playlist_form.hidden_tag() }}
        <p> {{ create_playlist_form.playlist_name.label }} {{ create_playlist_form.playlist_name(size=50) }} </p>
        <p> {{ create_playlist_form.submit() }} </p>
    </form>
    <form id="view-playlists-form" method="GET">

    </form>

    
</div>

{% endblock %}